Setup a virtual environment for python and install the following:

To make sure they are installed only for your virtual environment use the 
command flask/bin/pip install NAME OF PACKAGE

psycopg2
flask
flask-login
flask-openid
flask-mail
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
flask-script
flask-migrate
flask-hmac
guess_language
flipflop
coverage
gunicorn
passlib


flask-restful
bson

flask-httpauth
